@import url("base.css");
@import url('fontimport.css');

* {
    cursor: default;
    background-color: transparent;
    font-family: "Red Hat Display";
    font-weight: 300;
    z-index: 1;
}

:root {
    --l0-bg-color: #000000;
    --l1-bg-color: #0d0d0d;
    --l2-bg-color: #101010;
    --l3-bg-color: #171717;
    --l4-bg-color: #181818;
    --l5-bg-color: #303030;
    --main-text-color: #ffffff;
    --accent-color: #ff8c00;
    --accent-color-selected: #ffb760;
}

#CR {
    position: absolute;
    z-index: 2;
    top: 1vh;
    left: 1vh;
    color: var(--l5-bg-color);
    font-size: clamp(2pt, 1.25vw, 8pt);
}

#shells {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    align-content: center;

    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    background: black;
    animation: moveBackground 20s linear infinite;
    background-size: cover;
}

#desc {
    font-family: 'Red Hat Display';
    font-size: clamp(2pt, 3vw, 18pt);
    width: 50vw;
}

#bg {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}

#shadow {
    position: fixed;
    height: 100vh;
    width: 40vh;
    background: black;
    box-shadow: 0px 0px 200px 200px black;
}

alignmiddle {
    display: flex;
    flex-direction: row;
}

#arg>#title {
    display: flex;
    flex-direction: column;

    font-family: "AveriaSerifLibre";
    font-weight: 300;
    font-size: clamp(2pt, 3vw, 48pt);
    line-height: 1.5em;
    text-align: center;
    justify-content: center;
}

#logo {
    height: clamp(200px, 20vw, 250px);
    width: clamp(200px, 20vw, 250px);
    margin: 12vh 0;
}


#active-args {
    position: relative;
    margin-top: 12vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#active-args > #title {
    margin-top: 10vh;
    height: auto;
    margin-bottom: 8vh;
    font-size: 3vw;
    font-family: "AveriaSerifLibre";
}

#args {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw 7vw;
    bottom: -5vw;
    justify-items: center;
    margin-bottom: 15vh;
    height: 60vh;
}

#arg > *,
#arg > #title > #stretch-vox {
    cursor: pointer;
    font-family: "AveriaSerifLibre";
    z-index: 3;
}

#arg {
    display: flex;
    
    user-select: none;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: fit-content;
    height: fit-content;
    /* margin: 0 8vh; */
    background: #000000;

    box-shadow: 0px 0px 0px 4px var(--l4-bg-color);
    border-radius: 10px;
}

#arg > #href {
    position: absolute;
    z-index:5;
    width: 25vw;
    min-width: 25vh;
    height: 15vw;
    min-height: 15vh;
}

#arg>#title>#stretch {
    transform: scaleY(3);
    margin-top: 2vw;
    width: fit-content;
}

#arg>#title>#stretch-vox {
    transform: scale(2, 2);
    margin-top: 2vw;
    width: fit-content;
}

#arg>.q,
#arg>#title {
    position: absolute;
    color: white;
    align-items: center;
}

#arg>.q {
    font-size: clamp(4pt, 5vw, 48pt);
}

#arg>#title,
#arg>#title>#stretch {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    font-family: "AveriaSerifLibre";
    cursor: pointer;
}

#arg>#preview {
    border-radius: 10px;
    border-color: #303030;
    width: 25vw;
    min-width: 25vh;
    height: 15vw;
    min-height: 15vh;

    transition: opacity 0.25s ease-in-out;

    opacity: 1;

    z-index: 4;
}

#arg:hover {
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0px 0px 0px 3px var(--l3-bg-color);
}

#arg:hover>#title,
#arg:hover>#title>#stretch {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#arg:hover>#preview {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
    /* width: ; */
}

@media only screen and (max-width: 720px) {
    #logo {
        flex-direction: column;
        font-size: clamp(4pt, 10vw, 24pt);
        align-items: center;
        transform: scale(100%, 1);
        height: clamp(100px, 5vh, 175px);
        height: clamp(75px, 25vw, 250px);
        width:  clamp(75px, 25vw, 250px);
        margin-bottom: 10vh;
    }
    #active-args {
        top: 20vw;
    }
    #active-args>#title {
        margin-top: 0;
        height: auto;
        margin-bottom: 8vh;
        font-size: clamp(3vw, 5vw, 7vw);
    }

    #desc {
        font-size: clamp(2pt, 4vw, 11pt);
    }

    #args {
        grid-template-columns: 1fr;
        gap: 3vh;
    }
}

#main>#search {
    width: 20vw;
    height: 5vh;
}

#main>#search:focus {
    width: 21vw;
    height: 4vh;
}

header#header {
    /* position: absolute; */
    background-color: var(--l1-bg-color);
    box-shadow: 0 0 25px 25px var(--l1-bg-color);
    z-index: 2;
}